    body,
    html {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 90%;
        color: #f5f5f5;
        background-image: url(../images/debut_dark.png);
    }
    
    .prettyprint {
        padding: 5px !important;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    
    span.cpt {
        margin: 0;
        padding: 0;
        text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.3);
        text-decoration: underline;
    }